<footer>
      <div class="container">
        <p class="copyright">© 2016-2018 Topomer</p>
        <div class="payment right"><img src="/static/images/payment.png" alt=""></div>
        <ul class="footer-nav right">
          <!--<li><a href="#">о проекте</a></li>-->
          <li><a href="https://www.facebook.com/topomer.site/" target="_blank">Facebook</a></li>
          <!--<li><a href="#">контакты</a></li>-->
        </ul>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/static/js/jquery.countTo.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/jquery.stickyheader.js"></script>
    <!-- Код тега ремаркетинга Google -->
    <!--------------------------------------------------
    С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1005754407;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1005754407/?guid=ON&amp;script=0"/>
        </div>
    </noscript>
  </body>
</html>